.full-height-modal {
    height: 100vh;
    width: 100vw;
  }
  

  

  
  /* Media query for larger viewports */
  @media (min-width: 576px) { /* Bootstrap's 'xs' breakpoint is 576px */
    .full-height-modal {
      max-width: 760px;
      max-height: 480px;
      
    }
  }
  